#Ignore the node_modules directory
node_modules/

#Ignoring the db file
data/crypto-rates.db

#Ignoring the default-env file
default-env.json

#Ignoring git and cache folders
.git
.cache

#Ignoring all the markdown and class files
*.md
**/*.class